
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


.tooltip {   
    position: absolute;        
    text-align: center;
/*    width: 60px;                  
    height: 28px;   */              
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;
    opacity: 0;     
    white-space: pre;
    word-break: normal;
    word-wrap: normal; 
}



/*div.wordCounts {
    margin-left: 25px;
    display:inline-block;
    float:left;
    width: 550px;
}

.barchart {
    display:inline-block;
    float:left;
    width: 600px;
}*/

.wordCounts text {
    pointer-events: none;
    text-anchor: middle;
    font-weight: bold;
    opacity:1;
    fill-opacity:1;
}


.axis text {
            font-family: serif;
            font-size: 12px;
            margin-right:50px;
        }

.axis path {
    fill: none;
    }

.axis line {
        fill:black;
        stroke:black;
        stroke-dasharray: 2,3;
        opacity:0.35;
    }



#inputText {
      width: 900px;
      height: 300px;
      margin-left:100px;
      border: 2px inset brown;
    }

.lead {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: normal;
    word-break:keep-all; 
}