
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BrainOnLDA</title>


    <style type="text/css">
      @font-face {
        font-family: "Cochin";
        src: "{{url_for('static', filename = 'Cochin.ttc')}}" format("truetype");
      }

      .indexP {
        font-family : 'Cochin', serif;
        font-size: 1.2em;
      }

    </style>


    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename = 'mainStyle.css')}}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Topic Modeling Neuroscience Articles</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href='/summarize'>Summarize</a></li>
                <li><a href="/recommend">Recommend</a></li>
                <li><a href='/explore'>Explore</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div><pre class="tooltip"></pre></div>

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-4">
          <p class='indexP'>Click on Summarize to summarize a piece of text </p>
        </div>
        <div class="col-md-4">
          <p class="indexP">Click on Recommend to get simmilar articles form the Database</p>
        </div>
        <div class="col-md-4">
          <p class="indexP">Click on Explore to see a sample article</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class='wordCounts'></div>

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Rick Shapiro &middot; <a href="https://www.linkedin.com/in/rickshapirony">Linkedin</a> &middot; <a href="https://github.com/rshap91">Github</a> &middot; <a href="rshap91.github.io">Blog</a></p>
      </footer>

    </div><!-- /.container -->

    <!-- Word Bubbles -->
    <script src="{{url_for('static', filename = 'HomePageWordGraph.js')}}"></script>
    <script>
      $(document).ready(function(){
        w2 = $('div.wordCounts').width()
        h2 = $('div.wordCounts').height()
        svg2.attr('width', w2).attr('height',h2)
        d3.csv("{{url_for('static', filename = 'components_df_mini.csv')}}", function(error, data){
          data.forEach(function(d){
            d.count = Math.random()*10
          }) // data.forEach

          wordGraph(data)
        }) // d3.csv
      }) // doc.ready()
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
