
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BrainOnLDA</title>

    <!-- D3 -->
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/d3/4.3.0/d3.min.js'> </script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- My Main Styles -->
    <link rel='stylesheet' type='text/css' href='../static/mainStyle.css'></link>

    <script>
      $(document).ready(function(){

        var recFunc = function(txt){

          var data = JSON.stringify({
            'txt': txt
            });
            
          $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/recommend/",
            dataType: "json",
            async: true,
            data: data,
            success: function (data) {
              console.log(data)
              var ths = d3.select("#recTable tbody").selectAll('.tableHeader')
                .data(data.slice(0,1)).enter().append('tr').attr('class', 'tableHeader')
              var trs = d3.select("#recTable tbody").selectAll('.tableRow')
                .data(data).enter().append('tr').attr('class','tableRow')
              
              ths.each(function(d){
                d3.select(this).selectAll('th').data(d3.keys(d)).enter().append('th').text(function(t){return t.toUpperCase()})
              })
              trs.each(function(d){
                d3.select(this).selectAll('td').data(d3.values(d)).enter().append('td').text(function(t){return t})
              })

            },
             error: function (result) {
                console.log('AJAX ERROR!')
                console.log(result)
          }
          })

          $('.tableRow td:nth-child(2)')
        } // END REC FUNCTION


        $('#submitText').click(function(){
          var txt = $('#inputText').val()
          return recFunc(txt);
        })

      })
    </script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename = 'carousel.css')}}" rel="stylesheet">


  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <pre class="tooltip"></pre>

    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Topic Modeling Neuroscience Articles</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li ><a href="/summarize">Summarize</a></li>
                <li class="active"><a href="/recommend">Recommend</a></li>
                <li><a href='/explore'>Explore</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>



    <!-- Main Content
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three Rows of text below the carousel -->
      <!-- Row 1  Enter Text --> 
      <div class="row">
        <div class="col-md-12">
            Paste your text here to get recommendations:
            <textarea name='inputText', id='inputText'></textarea>
            <br>
            <button id='submitText'>Recommend!</button>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div>
      <hr class="featurette-divider">

    <div class = 'container'>
      <div class = 'row'>
        <div class = col-md-12>
          <table id ="recTable" class='table'>
            <tbody>
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- container-->

   
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Barchart and WordCount -->
    <script type='text/javascript' src="{{url_for('static', filename='barchart2.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='ComponentWords.js')}}"></script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
